@if(isLoading){

<app-loader></app-loader>

}

<h2 mat-dialog-title>

    @if(data.isEdit){

    Update Manager

    } @else {

    Create Manager

    }

</h2>

<form [formGroup]="managerForm" (ngSubmit)="submit()">

    <mat-dialog-content>

        <mat-form-field appearance="outline">

            <mat-label>

                Full Name

            </mat-label>

            <input matInput maxlength="100" formControlName="fullName">

            @if(
            f.fullName.touched &&
            f.fullName.errors
            ){

            <mat-error>

                @if(
                f.fullName.errors['required']
                ){

                Full name is required

                }

                @if(
                f.fullName.errors['minlength']
                ){

                Minimum 3 characters required

                }

                @if(
                f.fullName.errors['maxlength']
                ){

                Maximum 100 characters allowed

                }

                @if(
                f.fullName.errors['pattern']
                ){

                Only alphabets and spaces are allowed

                }

                @if(
                f.fullName.errors['consecutiveSpaces']
                ){

                Multiple consecutive spaces are not allowed

                }

            </mat-error>

            }

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>

                Username

            </mat-label>

            <input matInput maxlength="30" formControlName="username">

            @if(
            f.username.touched &&
            f.username.errors
            ){

            <mat-error>

                @if(
                f.username.errors['required']
                ){

                Username is required

                }

                @if(
                f.username.errors['minlength']
                ){

                Minimum 3 characters required

                }

                @if(
                f.username.errors['maxlength']
                ){

                Maximum 30 characters allowed

                }

                @if(
                f.username.errors['pattern']
                ){

                Only letters, numbers and underscore are allowed

                }

            </mat-error>

            }

        </mat-form-field>

        <mat-form-field appearance="outline">

            <mat-label>

                Email

            </mat-label>

            <input matInput maxlength="255" formControlName="email">

            @if(
            f.email.touched &&
            f.email.errors
            ){

            <mat-error>

                @if(
                f.email.errors['required']
                ){

                Email is required

                }

                @if(
                f.email.errors['pattern']
                ){

                Invalid email format

                }

                @if(
                f.email.errors['maxlength']
                ){

                Maximum 255 characters allowed

                }

            </mat-error>

            }

        </mat-form-field>

        @if(!data.isEdit){

        <mat-form-field appearance="outline">

            <mat-label>

                Password

            </mat-label>

            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">

                <mat-icon>

                    {{
                    hidePassword
                    ? 'visibility_off'
                    : 'visibility'
                    }}

                </mat-icon>

            </button>
            @if(
            f.password.touched &&
            f.password.errors
            ){

            <mat-error>

                @if(
                f.password.errors['required']
                ){

                Password is required

                }

                @if(
                f.password.errors['minlength']
                ){

                Minimum 6 characters required

                }

                @if(
                f.password.errors['maxlength']
                ){

                Maximum 50 characters allowed

                }

                @if(
                f.password.errors['pattern']
                ){

                Spaces are not allowed in password

                }

            </mat-error>

            }

        </mat-form-field>

        }

    </mat-dialog-content>

    <mat-dialog-actions align="end">

        <button mat-button type="button" mat-dialog-close>

            Cancel

        </button>

        <button mat-raised-button color="primary" type="submit" [disabled]="managerForm.invalid || isLoading">

            @if(data.isEdit){

            Update

            } @else {

            Create

            }

        </button>

    </mat-dialog-actions>

</form>