.sidebar {

    width: 260px;

    height: 100vh;

    background: #172554;

    color: white;

    transition: 0.3s ease;

    overflow: hidden;

    display: flex;

    flex-direction: column;
}

.sidebar.collapsed {

    width: 80px;
}

.logo {

    height: 70px;

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 20px;

    font-size: 18px;

    font-weight: 600;

    white-space: nowrap;
}

a {

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 14px 20px;

    color: white;

    text-decoration: none;

    transition: 0.3s;

    white-space: nowrap;
}

a:hover {

    background: rgba(255,
            255,
            255,
            0.10);
}

.active-link {

    background: #2563eb;
}

.sidebar-overlay {

    position: fixed;

    inset: 0;

    background:
        rgba(0,
            0,
            0,
            0.5);

    z-index: 998;
}

@media (max-width: 768px) {

    .sidebar {

        position: fixed;

        left: -260px;

        top: 0;

        z-index: 999;

        width: 260px;

        transition: 0.3s;
    }

    .sidebar.mobile-open {

        left: 0;
    }

    .sidebar.collapsed {

        width: 260px;
    }
}